
<!DOCTYPE html>
{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Moda Peluda - Registro</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <form class="form-signup" method="post">
                            <h1 class="h3 mb-3 font-weight-normal card-title text-center">{% translate "Registro administrador" %}</h1>
                            {% if error %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                            {% endif %}
                            {% csrf_token %}
                            <div class="form-label-group my-3">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                            </div>
                            <div class="form-label-group my-3">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
                            </div>
                            <div class="form-label-group my-3">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                            </div>
                            
                            <button class="btn btn-lg btn-primary btn-block" type="submit" style="background-color: #dcc79a; #color: #000; border: none;">{% translate "Registrarse" %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock content %}
