{% extends 'base.html' %}
{% load static %}
{% block content %}

<style media="screen">
  body, html {
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-t
    background-color: #f7f7f7;
  }

  .page-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .el-wrapper {
    position: relative;
    width: 360px;
    margin: 15px;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  .el-wrapper:hover {
    transform: scale(1.05);
  }

  .el-img {
    overflow: hidden;
    position: relative;
  }

  .el-img img {
    width: 100%;
    height: 200px; /* Altura fija */
    object-fit: contain; /* Ajuste para mostrar toda la imagen sin cortar */
    transition: transform 0.3s;
  }

  .btn-conocer-mas {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 15px;
    background-color: #d8a58a;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .el-img:hover .btn-conocer-mas {
    opacity: 1;
  }

  .el-info {
    text-align: center;
    padding: 10px;
  }

  .el-info h4,
  .el-price {
    margin: 0;
    font-size: 1.8rem; /* Aumentar tamaño de letras */
    color: #2b2b2b;
  }

  .el-info h4 {
    text-transform: uppercase; /* Convertir a mayúsculas */
    font-family: 'Montserrat', sans-serif; /* Fuente Montserrat */
    font-weight: bold; /* Negrita */
  }

  .el-price {
    font-weight: bold;
    margin-top: 5px;
  }

  .slider-container{
    height: 35%;
    width: 100%;
    position: relative;
    overflow: hidden; 
    text-align: center;
  }

  .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("{% static 'images/example2.jpg' %}");
  }
  .slide-2 {
    background-image: url("{% static 'images/example1.jpg' %}");
  }
  .slide-3 {
    background-image: url("{% static 'images/ecom-banner1.png' %}");
  }
  .slide-4 {
    background-image: url("{% static 'images/ecom-banner3.jpg' %}");
  }

  .menu {
    position: absolute;
    left: 0;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
  .menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    &:hover {
      background: red;
    }
  }
</style>

<div class="row">
  <div class="col-md-12">
    <div class="slider-container">
      <div class="menu">
        <label for="slide-dot-1"></label>
        <label for="slide-dot-2"></label>
        <label for="slide-dot-3"></label>
        <label for="slide-dot-4"></label>
      </div>
      
      <input id="slide-dot-1" type="radio" name="slides" checked>
        <div class="slide slide-1"></div>
      
      <input id="slide-dot-2" type="radio" name="slides" >
        <div class="slide slide-2"></div>
      
      <input id="slide-dot-3" type="radio" name="slides" >
        <div class="slide slide-3"></div>
      <input id="slide-dot-4" type="radio" name="slides" >
        <div class="slide slide-4"></div>
    </div>
  </div>
</div>
<div class="page-wrapper">
  {% if products %}
    {% for p in products %}
      <div class="el-wrapper">
        <div class="el-img">
          <img src="{% static p.product_image.url %}" alt="product pic">
          
          <button class="btn-conocer-mas" onclick="window.location.href='{% url 'detail' pk=p.id %}'">Ver Detalles</button>          
        </div>
        <div class="el-info">
          <h4>{{ p.name }}</h4>
          <p>{{ p.description }}</p>
          <div class="el-price">
            ${{ p.price }} COP
          </div>
        </div>
      </div>
    {% endfor %}
  {% endif %}
</div>

{% endblock content %}
