{% extends 'base.html' %}
{% load static %}
{% block content %}

<style>
    body {
        padding-top: 70px; /* Ajusta según la altura de tu navbar si tienes uno */
    }
    .container {
        max-width: 800px; /* Ajusta este valor según prefieras */
    }
    .btn-custom {
        border: none;
        border-radius: 25px;
        padding: 10px 20px;
        font-size: 16px;
        transition: background-color 0.2s ease-in-out;
    }
    .btn-primary-custom {
        background-color: #007bff;
        color: #fff;
    }
    .btn-primary-custom:hover {
        background-color: #0056b3;
    }
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
    }
    .btn-submit {
        font-size: 18px;
        padding: 10px 24px;
        border-radius: 30px; /* Botón más redondeado */
        color: #fff; /* Texto blanco */
        background-color: #007bff; /* Azul de Bootstrap */
        border-color: #007bff;
    }
    .btn-submit:hover {
        background-color: #0056b3; /* Azul más oscuro al pasar el ratón */
        border-color: #0056b3;
    }
</style>

<div class="container">
    <h1 class="mb-4">Crear una nueva orden</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button style="background-color: #dcc79a;" type="submit" class="btn btn-primary-custom">Enviar Orden</button>
    </form>
</div>

{% endblock %}
