{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>{% translate "Venta por mes y detalle de orden" %}</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 60%; margin: auto;">
        <canvas id="salesChart"></canvas>
    </div>
    <script>
        var months = JSON.parse('{{ months|safe }}');
        var totals = JSON.parse('{{ totals|safe }}');
        var ctx = document.getElementById('salesChart').getContext('2d');
        var salesChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: months,
                datasets: [{
                    label: 'Órdenes Vendidas por Mes',
                    data: totals,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>

    
    <h2>{% translate "Detalle de ordenes" %}</h2>
<div class="table-responsive"> 
    <table class="table table-bordered table-hover shadow-sm"> 
        <thead class="table-light"> 
            <tr>
                <th>{% translate "ID" %}</th>
                <th>{% translate "Nombre del cliente" %}</th>
                <th>{% translate "Tipo de pago" %}</th>
                <th>{% translate "Dirección" %}</th>
                <th>{% translate "Correo electronico" %}</th>
                <th>{% translate "Fecha" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.customer_name }}</td>
                <td>{{ order.payment_type }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>
{% endblock %}
